<!DOCTYPE html>
<html>

<head>
  <title>AsperList</title>
</head>

<body>

<h1>Accede o crea una nueva asperList</h1>

<h2>Crea un nuevo usuario</h2>

<form action="/create_user" method="POST">
  <input type="string" name="user" placeholder="Nuevo usuario">
  <br><br>
  <button type="submit">Crear</button>

</form>

<h2>¿Ya estás registrado?</h2>
<h3>Introduce tu usuario e inicia sesión</h3>

</body>

</html>
